table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
 }

 td, input {
    height: 25px;
    text-align: center;
}

button, input[type="button"], input[type="number"] {
    height: 40px;
}